<div class="well">
    <h4>Filmoteca Abilio Junior</h4>
</div>

<div data-ng-app="livroteca">
    NgView aqui.
    <ng-view> </ng-view>
</div>

@section scripts
{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/AngularApp/js/Livroteca.js"></script>
    <script src="~/AngularApp/js/listaController.js"></script>
    <script src="~/AngularApp/js/detalhesController.js"></script>
}