<div class="jumbotron">
    <h4>Filmoteca Abilio Junior</h4>
</div>
<div ng-app="livroteca" ng-controller="listaController">
    
    <table class="table">
        <tr>
            <th>Título</th>
            <th>Ano de Lançamento</th>
            <th>Paginas</th>
        </tr>
        <tr ng-repeat="livro in livros">
            <td>{{livro.Titulo}}</td>
            <td>{{livro.AnoLancamento}}</td>
            <td>{{livro.NumeroDePaginas}}</td>
        </tr>
    </table>
</div>

@section scripts
{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/AngularApp/js/Livroteca.js"></script>
    <script src="~/AngularApp/js/listaController.js"></script>
}